.Multiplejobtable {
    width: 100%;
}
.Multiplejobtable table {
    width: 100%; border: 1px solid rgb(216, 213, 213) ; border-radius: 12px; background-color: rgb(241, 244, 245); text-align: center;

}

.Multiplejobtable table th {
    border-bottom: 1px solid rgb(216, 213, 213);
}
.Multiplejobtable table th{
    padding: 20px;
}
.Multiplejobtable table td {
    padding: 5px;
}

