/* .Customeralertpopup {
    position: fixed;
    top: 300px;
    z-index: 100;
    left: 300;
    width: 400px;
    height: 200px;
   background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
} */