.input-field {
    
  display: flex; flex-direction: column;
  
   gap: 3px;
}
.input-field input {
     height:45px;
    border-radius: 13px;
    border: 1px solid #27374D;
    padding-left: 5px;
    background-color: rgb(228, 235, 237);
    

}
.input-field label {
    font-size: 16px;
}