.jobstable table {
  width: 100%; border: 1px solid rgb(216, 213, 213) ; border-radius: 12px; background-color: rgb(241, 244, 245); text-align: center;

}
.jobstable {
    width: 100%; overflow-x: auto;  /* Allow horizontal scrolling */
    -webkit-overflow-scrolling: touch; /* Smooth scrolling on iOS */
}
.jobstable table th {
    border-bottom: 1px solid rgb(216, 213, 213);
}
.jobstable table th{
    padding: 20px;
}
.jobstable table td {
    padding: 5px;
}

  @media (max-width: 768px) {
    .jobstable {
      overflow-x: scroll;  /* Enable scrolling when on smaller screens */
    }
  
    table {
      min-width: 600px;  /* Ensure the table width is enough to trigger scrolling */
    }
  }
  