.loginPopup {
    position: fixed;
    top: 0;
    z-index: 100;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .Popup-inner {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    position: relative;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    gap: 40px;
    
    background-image: linear-gradient( to left, #677d9d, #68768ae4);

  }
  .Popup-inner ul {list-style-type: none; }
  .Popup-inner ul li {margin-bottom: 20px;}
  .Popup-inner ul li input { padding: 8px; border: 2px solid white; border-radius: 12px; background: #9399a2; width: 280px;height: 45px;}
  .Popup-inner ul li button { padding: 8px; border: 2px solid white; border-radius: 12px; width: 280px; height: 45px;}

@media (max-width: 480px) {
    .Popup-inner { width: 340px; padding: 10px;}
}